*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
@font-face {
    font-family: 'Atala';
    src: url('Alata/Alata-Regular.ttf')
    format('truetype');
}
@font-face {
    font-family: 'Josefin' ;
    src: url('Josefin_Sans/static/JosefinSans-Light.ttf ')
    format('truetype');
}

/*HEADER*/
.header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;

}

.nav-menu{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:1rem;

}
.hamburguer {
   cursor:pointer; 
   display:none;
}


.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}