*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    background-color: white;  
}
@font-face {
    font-family: 'Atala';
    src: url('Alata/Alata-Regular.ttf')
    format('truetype');
}
@font-face {
    font-family: 'Josefin' ;
    src: url('Josefin_Sans/static/JosefinSans-Light.ttf ')
    format('truetype');
}

/*HEADER*/
.header{
    width: auto;
   
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    position: relative;
    top: 4rem;
}
.nav-menu{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap: 1.5rem;
}

.nav-menu .nav-item .nav-link{
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
    cursor: pointer;
    padding-bottom: 0.5rem;
    font-family: sans-serif;
}
.nav-menu .nav-item .nav-link:hover{
    border-bottom: 2px solid white;
   
}
.nav-item{
    list-style-type: none;
}

.hamburguer {
   cursor:pointer; 
   display:none;
}


.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}
@media (max-width:768px){

#logo{
    width: auto;
}
#logo.active{
    z-index: 2;
}
 .hamburguer{
    display: block;
 }
 .hamburguer.active{
    z-index: 1;
 }
 .hamburguer.active .bar:nth-child(2){
    opacity: 0;
}
.hamburguer.active .bar:nth-child(1){
 transform: translateY(8px) rotate(45deg); 

 }
 .hamburguer.active .bar:nth-child(3){
     transform: translateY(-8px) rotate(-45deg);
 }
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 0px;
    z-index: -3;
    gap: 0;
 
    border-radius: 0 0 20px 20px;
    background-color: black;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    transition: 0.3s;
}

.nav-menu.active{
    left: 0;
    z-index: 1;
}
.nav-menu .nav-item .nav-link{
    color: white;
    text-decoration: none;
    font-size: 3rem;
    cursor: pointer;
    font-family: sans-serif;
    line-height: 6rem;  
  
}

.nav-menu {
   text-align: left;
   padding-top: 6rem;
   margin: auto auto ;
}
}

/*MAIN AREA*/
.main-frist{
    background-image: url(images/desktop/image-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 70vh;
    margin-top: -6rem;
   
}
.main-frist h1 {
    position: relative;
    top: 35%;
    left: 5%;
    display: inline-block;
    max-width: 348px;
    font-size: 5rem;
    border: 2px solid rgba(255, 255, 255, 0.631);
    color: rgba(255, 255, 255, 0.823);
    padding: 2rem;
    font-weight: 100;
    text-transform: uppercase;
    font-family: sans-serif;
    margin: 0;
}
@media (max-width:1024px){
    .main-frist h1 {
        position: relative;
        top: 40%;
        left: 5%;
        display: inline-block;
        max-width: 320px;
        font-size: 4rem;
        border: 2px solid rgba(255, 255, 255, 0.631);
        color: rgba(255, 255, 255, 0.823);
        padding: 2rem;
        font-weight: 100;
        text-transform: uppercase;
        font-family: sans-serif;
        margin: 0;
        line-height: 5rem;
    }
}
@media (max-width:768px){
    .main-frist h1 {
        position: relative;
        top: 40%;
        left: 5%;
        width: 31rem;
        color: white;
        font-size: 4rem;
        border: 2px solid rgba(255, 255, 255, 0.631);
        color: rgba(255, 255, 255, 0.823);
        padding: 1rem;
        font-weight: 100;
        text-transform: uppercase;
        font-family: sans-serif;
        line-height: 5rem;
    }
}
@media (max-width:425px){
    .main-frist h1 {
        position: relative;
        top: 40%;
        left: 5%;
        width: 31rem;
        color: white;
        font-size: 4rem;
        border: 2px solid rgba(255, 255, 255, 0.631);
        color: rgba(255, 255, 255, 0.823);
        padding: 1rem;
        font-weight: 100;
        text-transform: uppercase;
        font-family: sans-serif;
        line-height: 5rem;
    }
}
@media (max-width:320px){
    .main-frist h1 {
        position: relative;
        top: 40%;
        left: 5%;
        width: 80%;
        padding: 1rem;
        font-size: 3.5rem;
        line-height: 4.5rem;
    }
}

/*INTERACTIVE AREA*/
.main-second {
    margin: 6rem auto 0rem;
    width: 70vw;
    height: 60vh;
}
.article-vr{
    position: relative;
    background-color: white;
    left: 58vh;
    top: 10vw;
    width: 35%;
    padding: 6rem;
    display: inline-block;
}
.article-vr h3{
    font-size: 5rem;
    margin-bottom: 2rem;
    font-family: 'Josefin' ;
    font-weight: lighter;
}
.article-vr p{
    font-size: 1.8rem;
    font-family: 'Atala';
    color: rgba(0, 0, 0, 0.67);
}
.main-second img {
    position: absolute;
   
}
@media (max-width:1440px){
    .main-second img {
        position: absolute;
        width: 50vw;
     }
    .article-vr {
        position: relative;
        background-color: white;
        left: 58vh;
        top: 12vw;
        width: 35%;
        padding: 6rem;
        display: inline-block;
    }
    .article-vr h3{
        font-size: 3.5rem;
        margin-bottom: 2rem;
        font-family: 'Atala';
        font-weight: lighter;
    }
    .article-vr p{
        font-size: 1.6rem;
    }
}
@media (max-width:1024px){
    .main-second img {
        position: absolute;
        width: 50vw;
     }
     .article-vr {
        position: relative;
        background-color: white;
        left: 49vh;
        top: 9vw;
        width: 35%;
        padding: 4rem;
        display: inline-block;
    }
    .article-vr h3 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        font-family: 'Atala';
        font-weight: lighter;
    }
    .article-vr p {
        font-size: 1.3rem;
    }
}
@media (max-width:768px){
    .main-second {
        width: 50vw;
        height: auto;
        margin: 6rem auto;
    }
    .main-second img {
        width:54vw;
        margin: 0;
        position: inherit;
     }
     .article-vr {
        background-color: white;
        padding: 1.5rem;
        width: 50vw;
        position: inherit;
        margin-top: 3rem;
    }
    .article-vr h3 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        font-family: 'Atala';
        font-weight: lighter;
        color: rgba(0, 0, 0, 0.667);
    }
    .article-vr p {
        font-size: 1.5rem;
    }
}
@media (max-width:425px){ 
    .main-second {
        width: 100vw;
        height: auto;
        
    }   
    .main-second img {
        width: 97vw;
        position: inherit;
    }
    .article-vr {
        background-color: white;
        padding: 1.5rem;
        width: 85vw;
        position: inherit;
        margin-top: 3rem;
    }
    .article-vr h3 {
       text-align: center;
    }
    .article-vr p {
        font-size: 1.5rem;
        text-align: justify;
    }
}
.main-three{
    width: 70vw;
    margin: 0 auto 6rem ;
}
.our-creations-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3rem 0;
}
.our-creations-area h1{
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 200;
    font-family: 'Josefin' ;
}
#btn-see{
    background-color: black;
    border: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    color: white;
    font-family: 'Josefin' ;
    cursor: pointer;
}
.boxes-tipes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
}
.boxe{ 
    position: relative;
    cursor: pointer;
    
}
.boxe img{
    width: 100%;
}
.boxe::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99.5%;
    background: rgba(0, 0, 0, 0.429);
    box-shadow: inset 120px 100px 250px rgba(0, 0, 0, 0.526); 
}
.boxe:hover{
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to bottom, rgb(255, 255, 255) , rgba(255, 255, 255, 0.778));
    color: black;
}
.txt-box {
    position: absolute;
    text-transform: uppercase;
    font-size: 3rem;
    width: 50%;
    left:10%;
    top: 85%;
    color: rgba(255, 255, 255, 0.757);
    font-family: 'Josefin' ;
    z-index: 2;
}
@media (max-width:1440px){
    .txt-box {
        position: absolute;
        text-transform: uppercase;
        font-size: 3rem;
        width: 80%;
        left: 10%;
        top: 80%;
        color: rgba(255, 255, 255, 0.757);
        font-family: 'Josefin';
        z-index: 2;
    }
}
@media (max-width: 1024px){
    .txt-box {
        position: absolute;
        text-transform: uppercase;
        font-size: 2rem;
        width: 77%;
        left: 9%;
        top: 80%;
        color: rgba(255, 255, 255, 0.757);
        font-family: 'Josefin';
        z-index: 2;
    }
}

footer{
    background-color: black;
    color: white;
    display: flex;
    padding: 2rem;
}
.info{
    display: flex;
    gap: 3rem;
    list-style-type: none;
}